@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

.svgicon {
    margin-right: 0.5rem;
}

.menu-item h3{
    cursor: pointer;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #191919;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color: #191919;

}