.PostComponent {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    width: 40rem;
    margin-top: 3rem;
}

.PostComponent-header {
    display: flex;
    
}
.profile-pic {
    height: 2rem;
    width: 2rem;
    align-self: center;
    border-radius: 50%;
    background-color: white;
    margin-right : 0.5rem
}

