@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

.svgicon {
    margin-right: 0.5rem;
}

.menu-item h3{
    cursor: pointer;
}


.menu-item h3:hover > .svgicon{
    filter: invert(85%) sepia(15%) saturate(557%) hue-rotate(155deg) brightness(87%) contrast(91%);
}


