.LeftSideBar-container {
    position: absolute;
    background-color: #9ac4d4;
    width: 15vw;
    height: 100vh;
    left: 0;
}

.LeftSideBar-container ul {
    list-style-type: none;
}

.l-s-item {
    padding-top: 3rem
}
