


.profile-pic {
    height: 2rem;
    width: 2rem;
    align-self: center;
    border-radius: 50%;
    background-color: white;
    margin-right : 0.5rem
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#Arrow-up {
    transform: rotate(-90deg);
}

#Arrow-down {
    transform: rotate(90deg);
}
