.sidebar-container {
    background-color: gray;
    min-height: 100vh;
    max-width: 25vw;
}

.WorkingOn {
    background-color: black;
    color: white;
    min-height: 15vh;
}

.Badges {
    background-color: blue;
    color: white;
    min-height: 15vh;
}