.RightSideBar {
    position:absolute;
    right: 0;
    width: 15vw;
    background-color: brown;
    height: 100vh;
}

.qa-card {
    background-color: gray;
    height: 10rem;
    margin-top: 3rem;
}