.RightSideBar {
    position:absolute;
    right: 0;
    width: 15vw;
    background-color: #9ac4d4;
    height: 100vh;
}

.qa-card {
    background-color: #4494a4;
    height: 10rem;
    margin-top: 3rem;
}