.SignUp-container {
    background-color: #064663;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

}

.SignUp-card {
    margin-top: 3rem;
    align-self: center;
    background-color: #041C32;
    border-radius: 1rem;
    min-height: 35rem;
    width: 25rem;
}

.Intrests {
    margin-top: 3rem;
    align-self: center;
    background-color: #041C32;
    border-radius: 1rem;
    min-height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.Tags-row {
    margin-top : 1.5rem;
    display: flex;
    justify-content: space-around;
}
.Tag {
    display: flex;
    background-color: #ECB365;
    border-radius: 0.4rem;
    width: 7rem;
    min-height: 1rem;
    justify-content: center;
}



.Personal-info {
    color: white;
    display: flex;
    flex-direction: column;

}

.label-item {
    align-self: center;
}

.Icebreaker{
    align-self: center;
}

.Submit-btn {
    margin-top: 3rem;
    align-self: center;
    width: 8rem;
}